<?xml version="1.0" encoding="UTF-8"?>
<configuration>


	<property name="LOG_ROOT_HOME" value="/services/logs" />
	<property name="APP_NAME" value="service-metadata" />
	<property name="LOG_HOME" value="${LOG_ROOT_HOME}/${APP_NAME}" />

	<appender name="metadataAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_HOME}/metadata.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_HOME}/metadata-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>5</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{0} %L - %msg%xEx%n </pattern>
		</encoder>
	</appender>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{0} %L - %msg%xEx%n </pattern>
		</encoder>
	</appender>

	<logger name="metadata" level="INFO" additivity="false">
		<appender-ref ref="metadataAppender" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="stdout" />
	</root>

</configuration>  